<head>
	<title>siteace</title>
</head>

<body>


</body>

<template name="SiteaceLayout">
	<div class="container">
		{{> yield "navbar"}} {{> yield "main"}}
	</div>
</template>

<template name="website_detail_page">
	<div class="panel panel-info">
		<div class="panel-heading">
	<h2><a href="{{url}}" target="_blank">{{title}}</a></h2>
		</div>
		<div class="panel-body">
	<h4>Description</h4>
	<p>{{description}}</p>
	<p><strong>Upvotes</strong>: {{upvotes}} | <strong>Downvotes</strong>: {{downvotes}}</p>
	<div class="panel-footer">
		<p><em>Added on {{createdOn}}</em></p>
	</div>
	<!--<p><strong>Submitted by</strong> <em>{{createdBy}}</em></p>-->
	</div></div>
	<div class="panel panel-default">
		<div class="panel-heading">
	<h4>Comments</h4>
		</div>
		<div class="panel-body">
	<ul class="list-group">
		{{#each comments}} {{> commentItem}} {{/each}}
	</ul>
</div></div>
	{{#if currentUser}} 
	  {{> commentSubmit}}
	{{else}}
	<p>Please log in to leave a comment.</p>
	{{/if}}
	
</template>

<template name="commentSubmit">
	<form name="comment" class="comment-form form">
		<div class="form-group {{errorClass 'body'}}">
			<div class="controls">
				<label for="body">Comment on this website</label>
				<textarea name="body" id="body" class="form-control" rows="3" required></textarea>
				<span class="help-block">{{errorMessage 'body'}}</span>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Add Comment</button>
	</form>
</template>

<template name="commentItem">
	<li class="list-group-item">
		<h6>
			<span class="author">{{author}}</span>
			<span class="date">on {{submittedText}}</span>
		</h6>
		<p>{{body}}</p>
	</li>
</template>


<template name="navbar">
	<!-- navbar  - you will be putting the login functions here -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header col-md-8">
				<a class="navbar-brand" href="/">
	        Site Ace
	      </a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					{{> loginButtons}}
				</ul>
			</div>
		</div>
	</nav>
</template>

<template name="website_form">
	<a class="btn btn-success js-toggle-website-form " href="#">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</a>
	<div id="website_form" class="hidden_div">
		<form class="js-save-website-form">
			<div class="form-group">
				<label for="url">Site address</label>
				<input type="text" class="form-control" id="url" name="url" placeholder="http://www.mysite.com" required>
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</template>

<!-- template that displays several website items -->
<template name="website_list">
	<div class="container">
		{{#if currentUser}} {{> website_form}} {{/if}}
		<div class="list">
			<ol>
				{{#each websites}} {{>website_item}} {{/each}}
			</ol>
		</div>
	</div>
</template>

<!-- template that displays individual website entries -->
<template name="website_item">
	<div class="item">
		<li>
			<a href="{{_id}}">{{title}}</a>
			<p>
				{{description}}
			</p>
			{{#if currentUser}}
			<a href="#" class="btn btn-success js-upvote">
				<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
			</a>
			<a href="#" class="btn btn-danger js-downvote">
				<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
			</a>
			<!-- you will be putting your up and down vote buttons in here! -->
			{{/if}}
			<p>up: {{upvotes}} | down: {{downvotes}} | The website was added on {{createdonText}}</p>
			<p><a href="{{_id}}">{{commentsCount}} comments</a></p>
		</li>
	</div>
</template>